# Java build directories
target/
**/target/

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar

# Spring Boot specific
!.mvn/
**/src/main/**/target/
**/src/test/**/target/

# Environment file
.env

# STS (Spring Tool Suite) configuration files
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
/**/build/

# VS Code
.vscode/
